.idea/
.idea
idea

*.pot
*.pyc
__pycache__/
*/__pycache__/
*.py[cod]
.pyc

venv
/venv/
.env.dev
.venv
.env

local_settings.py
media
dist
sqlite.db
db.sqlite3
**/migrations/*
!__init__.py

*.log
.log

celerybeat-schedule.dir
celerybeat-schedule.dat
celerybeat-schedule.bak

tubemonitor_cache