{% extends 'base.html' %}
{% load custom_filters %}


{% block title %}
Топ 100 YouTube каналов по подписчикам - TubeMonitor
{% endblock %}

{% block body %}

<div style="margin-left: 10%; margin-right: 10%;">
    <h1 class="mt-5 mb-4" style="text-align:center">Топ 100 YouTube каналов по подписчикам</h1>
    <div class="my-container">
        <div class="left-content">
            <div class="my-border">
                <h1 class="container text-center">Топы</h1>
                <hr>
                <a class="iksweb" href="/toplist/videos" title="топ видео"> Топ Видео &nbsp; &nbsp; </a>
                <a class="iksweb" href="/toplist/channels/" title="топ каналов">Топ Каналов</a>
            </div>
            <br>
            <div class="my-border">
                <h1 class="container text-center">Сортировка</h1>
                <hr>
                <a class="iksweb" href="/toplist/channels/?sort=views" title="топ видео"> Просмотры &nbsp; &nbsp; </a>
                <a class="iksweb" href="/toplist/channels/?sort=subscribers" title="топ каналов">Подписчики</a>
            </div>
            <script>
                var currentPath = window.location.pathname;
                var currentSearch = window.location.search;
                var currentURL = currentPath + currentSearch;

                document.querySelectorAll('.iksweb').forEach(function (link) {
                    var linkPath = link.pathname;
                    var linkSearch = link.search;
                    var linkURL = linkPath + linkSearch;
                    if (linkURL === currentURL && !link.closest('.navbar-nav')) {
                        link.classList.add('active');
                    }
                });
            </script>
            <br>
            <div class="my-border">
                <h1 class="container text-center">Фильтры</h1>
                <hr>
                <form id="filter-form-ru" method="post" action="">
                    {% csrf_token %}
                    {% if only_ru %}
                    <input class="my-size" type="checkbox" id="only_ru" name="only_ru" value="only_ru" checked
                           onchange="ruSubmitFormWithCurrentURL()">
                    <label class="my-text-size" for="only_ru2">&nbsp; только RU</label>
                    {% else %}
                    <input class="my-size" type="checkbox" id="only_ru" name="only_ru" value="only_ru"
                           onchange="ruSubmitFormWithCurrentURL()">
                    <label class="my-text-size" for="only_ru2">&nbsp; только RU</label>
                    {% endif %}
                </form>
                <br>
                <form id="filter-form" method="post" action="">
                    {% csrf_token %}
                    {% if for_kids %}
                    <input class="my-size" type="checkbox" id="for_kids" name="for_kids" value="for_kids" checked
                           onchange="submitFormWithCurrentURL()">
                    <label class="my-text-size" for="for_kids">&nbsp; для детей</label>
                    {% else %}
                    <input class="my-size" type="checkbox" id="for_kids" name="for_kids" value="for_kids"
                           onchange="submitFormWithCurrentURL()">
                    <label class="my-text-size" for="for_kids">&nbsp; для детей</label>
                    {% endif %}
                </form>
                <script>
                    function ruSubmitFormWithCurrentURL() {
                        var form = document.getElementById('filter-form-ru');
                        var currentURL = window.location.href;
                        form.action = currentURL;
                        form.submit();
                    }
                </script>
                <script>
                    function submitFormWithCurrentURL() {
                        var form = document.getElementById('filter-form');
                        var currentURL = window.location.href;
                        form.action = currentURL;
                        form.submit();
                    }
                </script>
            </div>
        </div>
        <div class="right-content">
            <div class="container">
                <div class="my-border">
                    <table class="table">
                        <colgroup>
                            <col style="width: 8%;">
                            <col style="width: 15%;">
                            <col style="width: 32%;">
                            <col style="width: 15%;">
                            <col style="width: 15%;">
                            <col style="width: 15%;">
                        </colgroup>
                        <thead>
                        <tr>
                            <th>Топ</th>
                            <th></th>
                            <th>Канал</th>
                            <th>Подписчики</th>
                            <th>Просмотры</th>
                            <th>Пидеоролики</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for channel in channels_data %}
                        <tr class="vertical-center">
                            <td>{{ forloop.counter }}</td>
                            <td><img src="{{ channel.channel_icon }}" width="40" height="40"></td>
                            <td class="my-leftside">{{ channel.title }}</td>
                            <td>{{ channel.subscriber_count|format_count }}</td>
                            <td>{{ channel.view_count|format_count }}</td>
                            <td>{{ channel.video_count|format_count }}</td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="6">Нет доступных результатов</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
