{% extends 'base.html' %}

{% block title %}
топ 100 популярных видео на YouTube
{% endblock %}

{% block body %}

<div style="margin-left: 10%; margin-right: 10%;">
    <h1 class="mt-5 mb-4" style="text-align:center">топ 100 популярных видео на YouTube</h1>
    <div class="my-container">
        <div class="left-content">
            <div class="my-border">
                <h1 class="container text-center">Топы</h1>
                <hr>
                <a class="iksweb" href="/toplist/videos" title="топ видео"> топ видео &nbsp; &nbsp; </a>
                <a class="iksweb" href="/toplist/channels" title="топ каналов">топ каналов</a>
            </div>
            <script>
                var currentPath = window.location.pathname;
                document.querySelectorAll('.iksweb').forEach(function (link) {
                    if (link.getAttribute('href') === currentPath && !link.closest('.navbar-nav')) {
                        link.classList.add('active');
                    }
                });
            </script>
            <br>
            <div class="my-border">
                <h1 class="container text-center">Фильтры</h1>
                <hr>
                <div>
                    <input class="my-size" type="checkbox" id="for_kids" name="for_kids" value="for_kids" checked>
                    <label class="my-text-size" for="finRot">&nbsp; для детей</label>
                </div>
            </div>
        </div>
        <div class="right-content">
            <div class="container">
                <div class="my-border">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Топ</th>
                            <th></th>
                            <th>Видео</th>
                            <th>Просмотров</th>
                            <th></th>
                            <th>Канал</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for video in videos_info %}
                        <tr class="vertical-center">
                            <td>{{ forloop.counter }}</td>
                            <td class="video_preview"><img src="{{ video.thumbnail }}" width="80" height="60"></td>
                            <td class="my-leftside">{{ video.title|truncatechars:70 }}</td>
                            <td>{{ video.view_count }}</td>
                            <td><img src="{{ video.channel_icon }}" width="40" height="40"></td>
                            <td class="my-leftside">{{ video.channel_title|truncatechars:30 }}</td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="6">Нет доступных результатов</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}